          <form class="form-signin" role="form"  id="form-div">

            <div class="alert alert-danger" role="alert" ng-if="loginErr">{{loginErr}}</div>
            <div class="alert alert-success" role="alert" ng-if="status">Successfully Registered.. Please Login</div>

            <h1 class="form-signin-heading" id="form-header">Login</h1>
            <input type="username" class="form-control" placeholder="Username" id="usernameTxt" ng-model="username">
            <input type="password" class="form-control" placeholder="Password" id="passwordTxt" ng-model="password">
            <button class="btn btn-lg btn-info btn-block" id="one-btn" ng-click="login(username,password)">Login</button>
            <br/>
            <h3> - OR -</h3>
            <button class="btn btn-lg btn-warning btn-block" id="two-btn" onclick="window.location='#register'" >Register</button>

          </form>