<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/portal/js/angular.min.js"></script>
    <script type="text/javascript" src="/portal/js/angular-cookies.min.js"></script>
    <title>NodeGrid - Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="/portal/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/portal/css/login.css" rel="stylesheet">
    <link href="/portal/css/custom-login.css" rel="stylesheet">

  </head>

  <body>

    <div class="container" ng-app="login">

          <form class="form-signin" role="form"  id="form-div" ng-controller="loginController">

            <div class="alert alert-danger" role="alert" ng-if="loginErr">{{loginErr}}</div>
            <div class="alert alert-success" role="alert" ng-if="loginSuccess">{{loginSuccess}}</div>

            <h1 class="form-signin-heading" id="form-header">Login</h1>
            <input type="username" class="form-control" placeholder="Username" id="usernameTxt" ng-model="username">
            <input type="name" class="form-control" placeholder="Name" id="nameTxt" ng-model="name">
            <input type="password" class="form-control" placeholder="Password" id="passwordTxt" ng-model="password">
            <button class="btn btn-lg btn-info btn-block" id="one-btn" ng-click="login(username,name,password,$event)">Login</button>
            <br/>
            <h3> - OR -</h3>
            <button class="btn btn-lg btn-warning btn-block" id="two-btn" >Register</button>

          </form>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/portal/js/jquery.min.js"></script>
    <script src="/portal/js/login.js"></script>
    <script src="/portal/js/bootstrap.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
